# GitHub Linguist Coloring
*.dm linguist-language=Darkmatter
*.asm linguist-language=Assembly
*.ll linguist-language=Assembly
*.java linguist-language=Java
*.lua linguist-language=Lua
*.json linguist-language=JSON
